section.dashboard-content {
    ul#nav-settings {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            padding: 10px 0;
            border-bottom: solid 1px $agrey;
            a {
                font-weight: $bold;
                color: $black;
                @include font-size(1.1rem);
                small {
                    font-weight: $medium;
                    @include font-size(0.75rem);
                }
            }
            a:hover, a.active {
                color: $blue;
            }
        }
        li:last-child {
            border: 0;
        }
    }
    #personal, #security, #access {
        h4 {
            font-weight: $bold;
        }
        form {
            .image-upload, .form-group {
                width: 32%;
            }
            .form-group {
                input {
                    display: block;
                    clear: both;
                    width: 100%;
                    padding: 10px;
                    margin: 0 0 15px 0;
                    background-color: #F8F8F8;
                    border: solid 1px #AFAFAF;
                    @include border-radius(5px);
                }
                div {
                    label {
                        @include font-size(0.9rem);
                    }
                }   
            }
            button {
                max-width: 84px;
                width: 100%;
            }
            button:disabled, button[disabled] {
                background-color: $lgrey;
                border: 0;
                color: $grey;
            }
        }
    }
    #security {
        #rules, .form-group {
            width: 49% !important;
        }
        .form-group {
            width: 100%;
        }
        #rules {
            background-color: #EFF8FF;
            padding: 20px;
            @include border-radius(5px);
            height: 100%;
            p {
                padding: 5px 0 0 0;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style-position: inside;
                li {
                    padding: 5px 0;
                }
                li:first-child {
                    padding: 0 0 5px 0;
                }
               
            }
        }
    }
    #access {
        .invite-user {
            .search {
                max-width: 250px;
                width: 100%;
                i {
                    top: 50%;    
                    @include translate(0, -50%);
                    left: 7px;
                    @include font-size(0.9rem);
                }      
            }
            input, button {
                padding: 8px 7px;
                @include font-size(0.9rem);
            }
            input {
                background-color: #F8F8F8;
                border: solid 1px #AFAFAF;
                @include border-radius(5px);
                width: 100%;
                padding: 8px 7px 8px 25px;
                
            }
            button {
                max-width: 140px;
                width: 100%;
            }
        }
        .table {
            border-bottom: solid 4px $dblue;
            .thead-blue {
                th {
                    background-color: $dblue;
                    border: 0;
                    color: $white;
                    @include font-size(1rem);
                    font-weight: $bold;
                    width: 33%;
                }
            }
            tbody {
                tr {
                    margin: 3px 0;
                    td {
                        @include font-size(0.9rem);
                        background-color: #EFF8FF;
                        border-top: solid 3px $white;
                        border-bottom: solid 3px $white;
                        vertical-align: middle;
                        a {
                            color: $black;
                        }
                        a.delete {
                            i {
                                @include font-size(0.75rem);
                                color: $white;
                                padding: 2px 3px 1px 2px;
                                background-color: #F47070;
                            }
                        }
                    }
                }
            }
        }
    }
    .pagination {
        strong {
            @include font-size(0.9rem);
        }
        ul {
            li {
                margin: 0 0 0 5px;
                span.page-link {
                    @include font-size(1rem);
                    color: $black;
                    font-weight: $bold;
                }
                button.page-link {
                    background-color: $blue;
                    color: $white;
                    border: 0;
                }
                .page-link {
                    padding: 3px 10px;
                    @include border-radius(5px);
                    background-color: #f3f3f3;
                    color: $black;
                }
            }
            li.disabled {
                span {
                    border: 0.7px solid #CBCBCB !important;
                    background-color: #E9E9E9;
                    border: 0;
                    color: #C8C8C8 !important;
                }
            }
        }
    }
}