/*============================================
     CUSTOM STYLESHEET, MIXINS & RESETS
============================================*/
@import 'mixin';
@import "../../node_modules/rfs/scss";
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* { 
  margin: 0; 
  padding: 0;  
  text-rendering: optimizeLegibility; 
  @include font-smoothing(antialiased);
  -moz-osx-font-smoothing: grayscale; 
}

/*=================================
        COLORS & FONTS
=================================*/
$bgcolor: #F8F8F8 !important;
$white: #ffffff !important;
$black: #000 !important;
$blue: #1B75BB !important;
$sblue:#38C6F4;
$lblue: #37C6F4;
$dblue: #053B66;
$active:#002340;
$branch: #4C5B67;
$nav: #72BDFA;
$navActive: #89CCF7 !important;
$yellow: #CFE433;
$rorange: #FF7712;
$error: #F47070;
$red: #F82C2C;
$warning: #F26767;
$logout: #FD6666;
$orange: #CF742E;
$lorange: #FFE2CC;
$alert:  #FFE2CC;
$grey: #2F2F2F;
$dgrey: #494A4A;
$mgrey: #AFAFAF;
$lgrey: #dbdbdb;
$fgrey: #CED4DA;
$agrey: #e3e3e3;
$sep: #dbdbdb;
$td: #EFF8FF;
$baseFont: 16px;
$oxygen: 'Oxygen', sans-serif !important;
$roboto: 'Roboto', sans-serif !important;
$bold: 600 !important;
$bolder: 700 !important;
$light: 300;
$medium: 400;



/*================================
         MAIN STYLES
================================*/
html, body {
    height: 100%;
}

body {
  font: $baseFont $oxygen;
  background-color: $bgcolor;
}

a, a:hover, a:focus {
  text-decoration: none !important;
}

a img {
  text-decoration: none;
  border: 0px;
  outline: none;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto; 
}

section, header, footer {
  float: left;
  width: 100%;
  padding: 30px 0;
}


select, input::-webkit-input-placeholder {
	font-family: $oxygen;
	font-weight: $light;
	color: $grey;
}

header {
    background-color: $white;
    border-bottom: solid 1px $lgrey;
    padding: 15px 0;
    position: relative;
    img#logo {
        margin: 0 auto;
        max-width: 150px;
        width: 100%;
    }
    #avatar {
        text-align: left;
        position: absolute;
        right: 25px;
        top: 50%;
        @include translate(0, -50%);
        #avatar-left {
            .circle {
                img {
                    max-width: 35px;
                    @include border-radius(50px);
                    margin: 0 auto;
                }
            }
            #avatar-name {
                margin-left: 10px;
                line-height: 0.9em;
                h3 {
                    margin: 0;
                    padding: 0;
                    @include font-size(0.875rem);
                    color: $blue;
                    font-weight: $bold;
                }
                small {
                    @include font-size(12px);
                    color: $branch;
                }
            }
        }
        #avatar-middle {
            width: 28px;
            height: 0px;
            border: 1px solid $sep;
            @include transform(rotate(90deg));
        }
        #avatar-right {
           .btn-group {
                button {
                    outline: 0;
                    border: 0;
                    background-color: transparent;
                }
                .dropdown-menu {
                    width: 200px;
                    margin: 15px 0 0 0;
                    padding: 15px;
                    @include box-shadow(2px, 3px, 2px, rgba(0, 0, 0, 0.25));
                    border: 0;
                    @include border-radius(0);
                    #avatar-settings {
                        h3 {
                            @include font-size(14px);
                            font-weight: $bold;
                            color: $grey;
                            margin: 0;
                            padding: 0;
                        }
                    }
                    a {
                        color: $grey;
                        img {
                            max-width: 16px;
                            margin: 0 13px 0 0;
                        }
                    }
                }
           }
        }
    }
}
/*================================
          NAVIGATION
================================*/
.sactive {
    margin-left: -120px;
}
#sidebar {
    // position: absolute;
    // left: 0;
    // height: 100%;
    max-width: 200px;
    width: 100%;
    background-color: $dblue;
    // min-height: 160vh;
    button {
        background-color: $blue;
        padding: 15px;
        width: 100%;
        border: 0;
        outline: none;
        text-align: left;
        height: 66px;
        color:$white;
        i {
            @include font-size(28px);
            margin: 0 10px 0 0;
        }
    }
    nav {
        position: relative;
        height: 100%;
        ul {
            text-align: center;
            margin: 0;
            padding: 0;
            float: left;
            width: 100%;
            list-style: none;
            li {
                list-style-type: none;
                float: left;
                width: 100%;
                text-align: left;
                a {
                    .nav-box {
                        max-width: 40px;
                        width: 100%;
                        text-align: left;
                        img {
                            max-width: 28px;
                            width: 100%;
                        }
                    }
                }
                a {
                    padding: 10px 15px;
                    display: block;
                    clear: both;
                    color: $white;
                }
                a.active, a:hover {
                    background-color: $active;
                    color: $navActive;
                    position: relative
                }
                a.active::before, a:hover::before {
                    content:"";
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border: solid 2px $nav;
                    z-index: 1;
                }
            }
            li:nth-child(2) {
                a {
                    img {
                        max-width: 24px;
                    }
                }
            }
            li:last-child {
                a {
                    img {
                        max-width: 30px;
                    }
                }
            }
        }
    }
    .support {
        display: block;
        clear: both;
        background-color: $active;
        padding: 20px 15px;
        @include border-radius(7px);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        h4,a {
            @include font-size(14px);
        }
        h4 {
            color: $white;
            padding: 15px 0;
        }
        a {
            background-color: $lblue;
            width: 100%;
            border: 0;
        }
        .support-icon {
            background-color: $navActive;
            border: solid 6px $navActive;
            max-width: 50px;
            width: 100%;
            @include border-radius(50px);
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            margin-top: -47px;
        }
    }
}

/*================================
            LOGIN
================================*/
@import '_login';

/*================================
          DASHBOARD
================================*/
.content {
    width: 100%;
}
@import '_dashboard';


/*================================
          PROGRESS
================================*/
.progress {
    width: 100px;
    height: 100px !important;
    float: left;
    line-height: 150px;
    background: none;
    box-shadow: none;
    position: relative;
    margin: 0 0 10px 0;
}

.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid $bgcolor;
    position: absolute;
    top: 0;
    left: 0
}

.progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1
}

.progress .progress-left {
    left: 0
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left
}

.progress .progress-right {
    right: 0
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards
}

.progress .progress-value {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #000;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%
}

.progress.blue .progress-bar {
    border-color: $lblue;
}

.progress.blue .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.8s
}

.progress.yellow .progress-bar {
    border-color: #fdba04
}

.progress.yellow .progress-right .progress-bar {
    animation: loading-3 1.8s linear forwards
}

.progress.yellow .progress-left .progress-bar {
    animation: none
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg)
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
}