@use "sass:math";

@mixin font-smoothing($variable) {
    -webkit-font-smoothing: $variable; 
       -moz-font-smoothing: $variable; 
        -ms-font-smoothing: $variable; 
         -o-font-smoothing: $variable;  
  }
  
  @mixin border-radius($radius)  {
      -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
          -ms-border-radius: $radius;
           -o-border-radius: $radius;
              border-radius: $radius;
  }
  
  @mixin transition($sec) {
    -webkit-transition: border-color ease-in-out $sec,box-shadow ease-in-out $sec;
       -moz-transition: border-color ease-in-out $sec,box-shadow ease-in-out $sec;
         -o-transition: border-color ease-in-out $sec,box-shadow ease-in-out $sec;
            transition: border-color ease-in-out $sec,box-shadow ease-in-out $sec;
  }
  
  @mixin background-size($cover) {
    -webkit-background-size:($cover);
       -moz-background-size:($cover);
         -o-background-size:($cover);
            background-size:($cover);
  }

  @mixin align-items($cover) {
    -webkit-align-items:($cover);
       -moz-align-items:($cover);
         -o-align-items:($cover);
            align-items:($cover);
  }
  
  @mixin box-shadow($top, $left, $blur, $color, $inset:"") {
        -webkit-box-shadow:$top $left $blur $color #{$inset};
           -moz-box-shadow:$top $left $blur $color #{$inset};
                box-shadow:$top $left $blur $color #{$inset};
  }
  
   
//   @mixin font-size($font-size) {
//      font-size: math.div($font-size,$baseFont) + em;
//   }   

  @mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  
  @mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }  

  @mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
       -moz-transform: translate($x, $y);
        -ms-transform: translate($x, $y);
         -o-transform: translate($x, $y);
            transform: translate($x, $y);
  }

  @mixin transform($transformation) {
    transform: $transformation;
    -webkit-transform: $transformation;
    -moz-transform: $transformation;
    -ms-transform: $transformation;
    -o-transform: $transformation;  
  }